/* Bootstap Overrides */
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.primary {
  color: #DCEFE9
}

h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

p {
  color: #505050;
}

.lead {
  margin-bottom: 2rem;
}

.container {
  margin-top: 70px;
  margin-bottom: 70px;
}

.container-fluid {
  padding-top: 60px;
  padding-bottom: 60px;
}

a {
  color: black;
}

a:hover {
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.card-text {
  font-size: 14px;
  color: #9a9a9a;
}

/* Welcome */

#welcome {
  position: absolute;
  top: 70px;
  right: 12px;
  display: inline-block;
  width: 280px;
  font-size: 14px;
  z-index: 100;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

#welcome p {
  margin-bottom: 0px;
  position: relative;
}

#welcome .close {
  font-size: 14px;
  position: absolute;
  top: 12px;
  right: 12px;
}

/* Navbar Styling */

.navbar {
  padding: 0px 24px;
}

.bg-light {
  background-color: #DCEFE9!important;
}

.navbar-light .navbar-brand {
  font-size: 18px;
  border-radius: 0 0 4px 4px;
  color: white;
  background: #2C2C2C;
  padding: 12px 16px;
}

.jumbotron {
  background-color: #DCEFE9;
}

/* About */

.avatar {
  width: 100px;
  margin-bottom: 24px;;
}

.blockquote {
  line-height: 2rem;
}

/* Portfolio */

.card {
  height: 100%;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transform: scale(1.01, 1.01);

}

.languages {
  font-size: 12px;
  color: #9a9a9a;
  font-weight: 600;
}

.card-text {
  color: #505050;
}

/* Contact */

.social-platforms i {
  font-size: 22px;
  padding: 6px;
}

.social-platforms i:hover {
  opacity: 0.5;
}